@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Behöver du korta din klocka? Har ditt armband gått sönder?</p>
<br /> Behöver du byta batteri? Har din klocka stannat?
<br />Kom då in till oss! Vi utför allt från länk kortningar och batteribyten till kompletta renoveringar och service arbeten av klockor.</p>
